.idea
venv
venv3.8
HonourRoll/.vs/HonourRoll/v16/Browse.VC.opendb
HonourRollProcedural/HonourRollProcedural/.vs/HonourRollProcedural/v16/Browse.VC.opendb
*.zip
*.tar.gz
/TP2/Trivial Pursiot v2.0/.vs/Trivial Pursuit v2.0/v16/Browse.VC.opendb
*.opendb
